<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_preferences</key>
	<string>{"carbonModifiers":6400,"carbonKeyCode":35}</string>
	<key>KeyboardShortcuts_quickRename</key>
	<string>{"carbonModifiers":6400,"carbonKeyCode":45}</string>
	<key>KeyboardShortcuts_refresh</key>
	<string>{"carbonModifiers":6400,"carbonKeyCode":15}</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>autoRefreshSpaces</key>
	<true/>
	<key>decorationActive</key>
	<integer>6</integer>
	<key>decorationInactive</key>
	<integer>3</integer>
	<key>displayStyle</key>
	<integer>3</integer>
	<key>horizontalDirection</key>
	<integer>0</integer>
	<key>iconSize</key>
	<integer>2</integer>
	<key>restartNumberingByDisplay</key>
	<false/>
	<key>rowLayout</key>
	<integer>0</integer>
	<key>useVariableWidth</key>
	<false/>
	<key>visibleSpacesMode</key>
	<integer>0</integer>
</dict>
</plist>
